* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.car,
.enemy {
    width: 50px;
    height: 70px;
    background: red;
    position: absolute;
    bottom: 120px;
}

.gamearea {
    width: 400px;
    height: 100vh;
    background-color: rgb(32, 31, 31);
    margin: auto;
    position: relative;
}

.lines {
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;
}

.score {
    position: absolute;
    top: 15px;
    left: 40px;
    background: green;
    width: 300px;
    line-height: 70px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: fantasy;
    box-shadow: 0 5px 5px #777;
}

.startscreen {
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5;
    word-spacing: 3;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}